<mat-dialog-content id="login-Form-content">
  <h1>Connexion</h1>

  <form class="login-form">
    <mat-form-field appearance="fill">
      <mat-label>Entrez votre email</mat-label>
      <input type="email" matInput placeholder="pat@example.com" required>
      <mat-error> </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Entrez votre mot de passe</mat-label>
      <input matInput required>
      <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide2">
        <mat-icon>{{hide2? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <div class="valided-login">
      <button type="submit" mat-raised-button color="accent">Valider</button>
    </div>
  </form>
</mat-dialog-content>
