#content {
  min-height: calc(100vh - 200px);
}

footer {
  background-color: #15257d;
  color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.3rem;
  }
}
