<div id="search">
  <div class="text-presentation">
    <h1>
      Welcome sur Météo app
    </h1>
    <p class="text-description">
      Ce site vous permez de connaître la météo du jour,
    </p>
    <p class="text-description">
      et une prévison de trois jours.
    </p>
    <p class="text-description">
      Il suffit de vous inscrire ou vous connectez.
    </p>
  </div>

  <form *ngIf="searchFormIsDisplayed" class="search-form">
    <div class="content-input">
      <mat-form-field class="content-input-search" appearance="fill">
        <mat-label>Enter une ville</mat-label>
        <input matInput placeholder="Ex. Paris" [(ngModel)]="cityName" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </div>

    <div class="button-valided-search">
      <button (click)="getWeatherByCity()" mat-raised-button color="accent">OK</button>
    </div>
  </form>
</div>
