#search {
  display: flex;
  justify-content: center;
  padding: 2rem 0;

  .search-form {
    display: flex;
    flex-direction: column;

    .mat-form-field {
      display: flex;
      justify-content: center;

      .mat-form-field-wrapper {
        width: 20rem;
      }
    }

    .button-valided-search {
      display: flex;
      justify-content: center;
    }
  }
}
